html {
 zoom: 80%;
}

body {
	margin: 0;
	position: relative;
	width: 100vw;
	min-height: 100vh;
	z-index: 0;
	background-image: url(image/okinawa.jpg);
	font-size: 25px;
	color: #000080;
}

/* 背景画像を白く濁らせる1 */
.white_noise1 {
	position: relative;
	width: 125%;
	min-height: 125vh;
	z-index: 0;
	background-color: #ffffffa5;
}

/* 背景画像を白く濁らせる2 */
.white_noise2 {
	position: relative;
	width: 125%;
	min-height: 125vh;
	z-index: 0;
	background-color: #ffffffd0;
}

/* ボタンの色 */
button {
	border: solid 2px #000080;
	border-radius: 3px;
	background-color: #b0e0ff;
	font-size: 20px;
	color: #000080;
}
button:hover{
	background-color: #8fffd3;
}

/* inputのサイズ */
input {
	width: 192px;
	height: 29px;
	border-radius: 3px;
	font-size: 20px;
}

/* checkboxのサイズ */
input[type=checkbox] {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

/* checkboxのサイズ */
input[type=radio] {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

/* selectのサイズ */
select {
	width: 200px;
	height: 35px;
	border-radius: 3px;
	font-size: 20px;
}

/* textareaのサイズと周りが下寄せにならないように */
textarea{
	vertical-align: top;
	width: 400px;
	height: 200px;
	border-radius: 3px;
	font-size: 20px;
}

/* 各入力部品の色 */
input, select, textarea {
	border: solid 2px #000080;
	border-radius: 3px;
	background-color: #f0ffff;
}

/* 赤文字 */
.error {
	color: #ff0000;
}
