
/* ---------- ヘッダー ---------- */

	header {
		position: fixed;
		top: 0px;
		height: calc(100px);
		z-index: 5;
	}

	.header {
		position: fixed;
		top: 0px;
		height: calc(100px);
		width: 125vw;
		background-color: #dddddd;
		z-index: 3;
	}

	header h1 {
		position: fixed;
		margin-top: 2px;
		left: 3vw;
		z-index: 5;
		font-size: 40px;
		font-style: italic;
		color: #000050;
	}

	header .signin_userinfo {
		position: fixed;
		top: 20px;
		right: 130px;
		z-index: 5;
		font-size: 20px;
		color: #000050;
	}

	header 	.signout{
		position: fixed;
		display: block;
		top: 15px;
		right: 15px;
		width: 100px;
		height: auto;
		text-align: center;
		z-index: 5;
		border: 1px solid #bcbcbc;
		border-radius: 5px;
		background-color: #bcbcbc;
		font-size: 20px;
		text-decoration: none;
		color: #000050;
	}

	header .menubar {
		position: fixed;
		top: 50px;
		width: 125vw;
		height: auto;
		z-index: 5;
	}

	header ul{
		margin-top: 0;
		padding: 0;
		width: auto;
		height: auto;
		z-index: 5;
		list-style-type: none;
	}

	header li{
		display: inline;
		margin: 0;
		padding: 0;
		height: auto;
		z-index: 5;
		float: left;
	}

	header li a{
		display:table-cell;
		width: calc( 125vw / 5 );
		height: 45px;
		text-align: center;
		vertical-align: middle;
		z-index: 6;
		font-size: 25px;
		white-space: nowrap;
		border-bottom: 5px solid #dddddd;
		background-color: #dddddd;
		text-decoration: none;
		color: #000050;
	}

	header li a:hover,
	header .signout:hover {
		border-bottom: 5px solid #888888;
		background-color: #888888;
		color: #ffffff;
	}

	header .current {
		border-bottom: 5px solid #5555ff;
	}

/* ---------- フッター ---------- */

	footer {
		position: fixed;
		bottom: 0;
		left: 1vw;
		font-size: 20px;
		font-weight: normal;
		color: #606060;
	}