@charset "UTF-8";

.image{
    margin: 100px auto;
    width: 152px;
}
.image .storeimg{
    height: 150px;
    width: 150px;
    border: solid 1px black;
    background-color: lightgreen;
    text-align: center;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}