@charset "UTF-8";

.image{
    margin: 100px auto;
    width: 152px;
}
.image .storeimg{
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}