
/* topから10%ほどの位置からコンテンツを始める */
/* 全てのコンテンツを中央揃え */
.sign_frame {
	padding-top: 10%;
	text-align: center;
}

/* topから3%ほどの位置からコンテンツを始める */
/* bottom3%ほ余白を持っておく */
/* 全てのコンテンツを中央揃え */
.sign_up_frame {
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
}

/* タイトル */
h1 {
	color: #000080;
	font-style: italic;
}

/* 入力フォームのフレーム */
.sign_form {
	display: inline-block;
	width: 700px;
	padding: 20px 0px 20px 0px;
	text-align: center;
	background-color: #d0ddff88;
}

/* 入力フォームの隠れたフレーム */
.sign_form_hidden {
	display: inline-block;
	text-align: right;
	padding: 0;
	font-weight: bold;
	color: #000080;
}
