
/* home & my_page & search & details & add_store & category & contact */

/* メニューバーから下のスクロール可能なフレーム */
.frame {
	position: fixed;
	top: 120px;
	bottom: 35px;
	left: 0vw;
	right: 0vw;
	height: auto;
	width: auto;
	z-index: 1;
	overflow-y: auto;
	text-align: center;
}

/* 入力フォームのフレーム */
.input_form {
	display: inline-block;
	margin-top: 20px;
	width: 700px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #d0ddff88;
}

/* 入力フォームの隠れたフレーム */
.input_form_hidden {
	margin-top: 20px;
}

/* 入力フォームのインナーフレーム */
.input_form_inner {
	top: 0;
	margin: 0 auto 0 auto;
	width: max-content;
	height: auto;
	text-align: right;
	border: 0px;
}

/* フレーム */
.out_frame {
	display: inline-block;
	margin: 0 auto;
	width: 700px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	background-color: #d0ddff88;
}

/* 左右のインナーフレームをまとめるインナーフレーム */
.inner_frame_hidden {
	margin: 0 auto 0 auto;
	width: max-content;
	height: auto;
	text-align: center;
	border: 0px;
}

/* 左側のインナーフレーム */
.inner_frame_left {
	margin: 0 auto 0 auto;
	width: max-content;
	height: auto;
	text-align: right;
	border: 0px;
	float: left;
	font-weight: bold;
}

/* 右側のインナーフレーム */
.inner_frame_right {
	margin: 0 auto 0 auto;
	width: max-content;
	height: auto;
	text-align: left;
	border: 0px;
	float: right;
}

/* 表のための折り畳み */
details {
	margin-top: 20px;

}

/* 表のための折り畳みタイトル */
summary {
	/*
	display: inline;
	width: 1150px;
	*/
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	border: 2px solid #b5b5b5;
	background-color: #b5b5b5;
}

/* 表のためのスクロール可能なフレーム */
.scroll {
	margin-top: 0;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 500px;
	border: 2px solid #b5b5b5;
	background-color: #e0e0ff80;
	overflow-y: auto;
}

/* 表の設定 */
.scroll table {
	width: 100%;
}

/* お店表の設定 */
.store_table .top {
	border: 1px solid #000000;
}
.store_table .bottom {
	border: 1px solid #000000;
}
.store_table .storeimg {
	width: 180px;
	height: 180px;
}
.store_table a {
	font-size: 35px;
	font-weight: bold;
}
.store_table .t_image {
	height: 200px;
}
.store_table .t_cities {
	height: 50px;
}
.store_table .t_name {
	height: 50px;
}

/* 一覧表の設定 */
.other_table th {
	position: sticky;
	top: 0px;
	background-color: #e0e0f0;
}
.other_table tr {
	background-color: #eeeef0;
}
.other_table td {
	text-align: center;
}

.modal {
	display: none;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
}

.modal_bg {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: rgba(0,0,0,0.8);

	/*background: rgba(0,0,0,0.8);
	height: 100vh;
    position: absolute;
    width: 100%;*/
}

.model_contents {
	background: #fff;
	left: 50%;
	margin: auto;
	padding: 40px;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 50%;
	text-align: center;
}

#errMsg {
	font-size : 15px;
	color : red;
}
